.container {
    background-color: #79F8D2;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc((50px * 8) + (2px * 8));
    margin: 0 auto;

}

.cell {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorato {
    background-color: #2772A6;
    color: #fff;
}

.cell.bomb {
    background-color: #ff0000;
}

.cell.save {
    background-color: #008000;
}